        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            height: 100vh;
        }
        
        body {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .container {
            width: 90%;
            height: 90%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: rgb(247, 247, 255);
            background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
            background-position: top right, bottom left;
            background-repeat: no-repeat;
        }
        
        .header {
            /* width: 80%;
    height: 20%; */
            margin-top: 15px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        
        .pricing-heading {
            gap: 100px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            color: rgb(103, 104, 134);
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
        }
        /* <---------------------- Toggle Button ----------------------> */
        
        .switch {
            position: absolute;
            top: 20%;
            left: 48%;
            transform: translateX(-48%);
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked+.slider {
            background-color: #2196F3;
        }
        
        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
        
        .annually {
            margin-bottom: 0%;
            margin-right: 100%;
            margin-top: 25%;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            color: rgb(103, 104, 134);
        }
        
        .monthly {
            margin-bottom: 0%;
            margin-right: 25%;
            margin-top: 25%;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            color: rgb(103, 104, 134);
        }
        
        .toggle {
            width: 80%;
            height: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        .main {
            width: 80%;
            height: 100%;
            margin-top: 3%;
            padding-bottom: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
        
        .basic {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 15px;
            align-items: center;
            background-color: rgb(255, 255, 255);
            font-family: 'Montserrat', sans-serif;
            color: hsl(233, 13%, 49%);
        }
        
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            border-radius: 3px;
        }
        
        .professional {
            width: 35%;
            height: 108%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 15px;
            align-items: center;
            color: white;
            font-family: 'Montserrat', sans-serif;
            background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        }
        
        .professional button:hover {
            background-color: white;
        }
        
        .btn {
            margin-top: 10%;
            width: 85%;
            height: 10%;
            color: white;
            border-radius: 10px;
            background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        }
        
        .btn:hover {
            cursor: pointer;
            background-image: linear-gradient(to right, white, white);
            color: hsl(237, 63%, 64%);
        }
        
        .master {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 15px;
            align-items: center;
            background-color: rgb(255, 255, 255);
            font-family: 'Montserrat', sans-serif;
            color: hsl(233, 13%, 49%);
        }
        
        hr {
            width: 75%;
            color: hsl(240, 78%, 98%);
        }
        
        text {
            font-size: 15px;
            margin-top: 2%;
            margin-bottom: 2%;
        }
        
        .price-in-dollar {
            font-size: 25px;
            margin-top: 45px;
            margin-bottom: 15px;
        }
        
        p {
            margin-top: 5%;
            margin-bottom: 5%;
        }
        
        @media (max-width: 836px) {
            body {
                width: 100%;
                height: 100%;
            }
            html {
                height: 100vh;
            }
            .header {
                margin-top: 180px;
            }
            .main {
                flex-direction: column;
                justify-content: flex-start;
                margin-top: 50px;
            }
            .container {
                width: 80%;
                position: absolute;
            }
            .container .switch {
                position: absolute;
                top: 120px;
            }
            .basic,
            .professional,
            .master {
                width: 80%;
                height: 90%;
                margin-bottom: 30px;
                padding-bottom: 30px;
            }
            .main button {
                height: 40px;
                width: 80%;
            }
        }